### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Global ignore files ###
/target/

### database config ###
/databaseconfig.txt

### Hibernate config ###
/src/main/resources/hibernate.cfg.xml

### Data CSV file ###
/src/main/resources/data.csv
/src/main/resources/bid_data.csv
